Repository naoji3x/unity-project-template: changes, and which lefthook commands are due for each by the changed paths.
All: format-markdown, lint-markdown, lint-changelog, format-js, lint-js, format-csharp, lint-csharp

format-markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint-markdown:
  run: npx markdownlint {staged_files}

lint-changelog:
  run: 'npx markdownlint --config .markdownlint-changelog.json CHANGELOG.md
  
    node scripts/check-changelog-format.mjs
  
    '

format-js:
  run: npx prettier --write {staged_files}
  stage_fixed: true

lint-js:
  run: npx eslint {staged_files} --max-warnings 0

format-csharp:
  run: "# ステージ済みの .cs を NUL 区切りで安全に取得（スペース/日本語パスOK）\ntmp=\"$(mktemp)\"\ngit -c core.quotepath=false diff --cached --name-only -z --diff-filter=ACM -- \\\n  'Assets/Scripts/**/*.cs' \\\n  'Assets/TinyShrine/**/*.cs' > \"$tmp\"\n\nif [ ! -s \"$tmp\" ]; then\n  echo \"No C# files to check.\"\n  rm -f \"$
  ...

lint-csharp:
  run: "# ステージ済みの .cs を NUL 区切りで安全に取得（スペース/日本語パスOK）\ntmp=\"$(mktemp)\"\ngit -c core.quotepath=false diff --cached --name-only -z --diff-filter=ACM -- \\\n  'Assets/Scripts/**/*.cs' \\\n  'Assets/TinyShrine/**/*.cs' > \"$tmp\"\n\nif [ ! -s \"$tmp\" ]; then\n  echo \"No C# files to check.\"\n  rm -f \"$
  ...

fix: add manifest and packages-lock.json
  Packages/manifest.json
  Packages/packages-lock.json
Due: format-js

docs: add documents
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Due: format-markdown, lint-markdown

build: adjust formatter rules
  .csharpierrc.json
  .editorconfig
  .gitignore
  Assets/TinyShrine/Core/Editor/Build/BakeBeforeBuild.cs
  Assets/TinyShrine/Core/Editor/Build/BakeBeforeBuild.cs.meta
Due: format-js, format-csharp, lint-csharp

build: update to 6000.0.58f2
  .gitignore
  .vscode/settings.json
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectVersion.txt
  ProjectSettings/ShaderGraphSettings.asset
Due: format-js

fix: lefthook settings and project name
  ProjectSettings/ProjectSettings.asset
  lefthook.yml
Due: none

Path conditions:
  format-markdown: any of: *.md
  lint-markdown: any of: *.md
  lint-changelog: any of: CHANGELOG.md
  format-js: any of: *.{js,mjs,ts,tsx,json}
  lint-js: any of: *.{js,mjs,ts,tsx}
  format-csharp: any of: Assets/{Scripts,TinyShrine}/**/*.cs
  lint-csharp: any of: Assets/{Scripts,TinyShrine}/**/*.cs
